.partImage {
  height: 80%;
  position: relative;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
  grid-area: image;
  object-fit: contain;
  overflow: hidden;
  & img {
    position: relative;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 130%;
    width: auto;
  }
}
