.partsContainer {
  width: 100%;
  position: relative;
  box-shadow: 0 0vh 1vh #646464;
  background: white;
  display: flex;
  flex-flow: column nowrap;
  bottom: 0;
  & svg {
    top: 1vh;
    fill: none;
    display: block;
    width: auto;
    height: 3vh;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    & .arrow {
      stroke-width: 0.5vh;
      fill: none;
      stroke: #000;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
  }
}

@media (orientation: landscape) {
  .partsContainer {
    display: none;
  }
}
