# package directories
node_modules
jspm_packages

.serverless_nextjs

.serverless.yml

.next

src 
out

cypress/videos
cypress/screenshots

cypress.json
cypress.env.json

/out/

.env
.env.local
# Serverless directories
.serverless