.partImage {
  height: 100%;
  position: relative;
  width: 100%;
  grid-area: image;
  object-fit: contain;
  overflow: hidden;
  & img {
    position: relative;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: auto;
  }
  & .filter {
    z-index: 2;
    width: 100%;
    position: absolute;
    height: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    background: linear-gradient(
      to right,
      transparent,
      transparent,
      transparent,
      black
    );
  }
}
