.partImage {
  height: 100%;
  position: relative;
  width: 100%;
  grid-area: image;
  object-fit: contain;
  overflow: hidden;
  & img {
    position: relative;
    display: block;
    top: 50%;
    margin-left: auto;
    margin-right: auto;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
  }
}
