.times {
  display: flex;
  flex-flow: row nowrap;
  height: fit-content;
  width: 100%;

  overflow: hidden;
  & p {
    color: white;
    height: fit-content;
    width: fit-content;
    margin-top: 0;
    font-size: min(25px, 2vh);
    font-weight: 600;
    white-space: nowrap;
    margin-bottom: 0;
  }
  & .venue {
    margin-left: 1vw;
    height: fit-content;
    font-size: min(25px, 2vh);
    font-weight: 600;
    color: white;
    width: fit-content;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (orientation: landscape) {
  .times {
    grid-area: eventTimesVenue;
    & p {
      color: black;
    }
    & .venue {
      color: black;
    }
  }
}
