.link {
  height: fit-content;
  display: block;
  top: 50%;
  transform: translate(0, -50%);
  float: right;
  width: fit-content;
  right: 5%;
  position: absolute;
  & svg {
    height: 5vh;
    width: auto;
    display: block;
    fill: white;
    position: relative;
  }
}
