.when {
  grid-area: when;
  display: grid;
  grid-template-areas: "label" "from" "to";
  grid-template-columns: 100%;
  grid-template-rows: calc(100% / 3) calc(100% / 3) calc(100% / 3);
  & label {
    grid-area: label;
    font-size: 2.5vh;
    display: block;
    height: fit-content;
    font-weight: bold;
    width: fit-content;
    top: 50%;
    position: relative;
    transform: translate(0, -50%);
  }

  & .to {
    grid-area: to;
    margin-right: auto;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    border: none;
    font-size: 1em;
    position: absolute;
    border-bottom: solid 0.2vh black;
    &:focus {
      outline: none;
    }
  }
  & .from {
    grid-area: from;
    position: absolute;
    display: inline-block;
    font-size: 1em;
    top: 50%;
    transform: translate(0, -50%);
    margin-right: auto;
    width: 100%;
    border: none;
    border-bottom: solid 0.2vh black;
    &:focus {
      outline: none;
    }
  }
}

@media (orientation: landscape) {
  .when {
    grid-area: when;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 5vh;

    & label {
      font-size: 2vh;
      display: block;
      height: fit-content;
      font-weight: bold;
      width: fit-content;
      top: 0;
      position: relative;
      transform: translate(0);
    }

    & .to {
      margin-right: auto;
      width: 90%;
      margin-top: 5vh;
      border: none;
      position: relative;
      top: 0;
      transform: translate(0);
      font-size: 2vh;
      border-bottom: solid 0.2vh black;
    }
    & .from {
      font-size: 2vh;
      margin-right: auto;
      margin-top: 5vh;
      position: relative;
      width: 90%;
      top: 0;
      transform: translate(0);
      border: none;
      border-bottom: solid 0.2vh black;
    }
  }
}
