.title {
  transition: 250ms ease-out;
}

.symbolWrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 30vw;
  transition: 250ms ease-out;

  width: 30vw;
  background: white;
  padding: 1vw;
  border-radius: 10px;
  filter: drop-shadow(20px 50px 10px rgba(25, 25, 25, 0.5));

  &:first-child {
    transform: rotateY(20deg);
  }
  &:last-child {
    transform: rotateY(-25deg);
    transition-delay: 125ms;
  }
  & svg {
    height: 7vh;
    width: auto;
  }
  & span {
  }
}
