.title {
  transition: 250ms ease-out;
  height: fit-content;
  width: fit-content;
}

.symbolWrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 30vw;
  transition: 250ms ease-out;

  width: 30vw;
  background: white;
  padding: 1vw;
  border-radius: 10px;

  &:first-child {
    filter: drop-shadow(-1.5vh 2vh 1.5vh rgba(100, 100, 100, 0.5));
  }

  &:last-child {
    transition-delay: 125ms;
    filter: drop-shadow(1.5vh 2vh 1.5vh rgba(100, 100, 100, 0.5));
  }
  & svg {
    height: 7vh;
    display: block;
    width: auto;
  }
  & span {
    height: fit-content;
    width: fit-content;
    font-weight: bold;
    margin-top: 1vh;
  }
}
