.searchBox {
  width: 100vw;
  height: 90vh;
  position: fixed;
  top: 10vh;
  background: white;
  display: grid;
  box-shadow: 0 0.25vh 4vh #00000015;
  left: 50%;
  transform: translate(-50%);
  grid-template-areas: "selector" "where" "when" "events" "places" "search" ".";
  grid-auto-columns: 100%;
  grid-template-rows: auto auto auto auto auto auto 15vh;
  z-index: 2;
  padding-right: 5%;
  padding-left: 5%;
  & .searchButton {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    top: 0;
    font-size: 2.5vh;
    font-weight: bold;
    color: white;
    transition: background 250ms ease-out;
    border-style: none;
    height: 100%;
    border-radius: 1vh;
    box-shadow: 0 0.5vh 1vh rgb(100, 100, 100);
    width: 100%;
    top: 0;
  }
}

@media (orientation: landscape) {
  .searchBox {
    left: 50%;
    transform: translate(-50%);
    width: max(min(75vw, 1200px), 800px);
    grid-template-rows: 25% auto;
    height: 50vh;
    grid-template-areas: "selector selector" "where when" "events when" "places search";
    grid-auto-columns: 60% 40%;
    grid-template-rows: 20% calc(80% / 3) calc(80% / 3) calc(80% / 3);
    & .searchButton {
      display: block;
      grid-area: search;
      position: relative;
      height: 50%;
      font-size: 2vh;
      width: 35%;
      cursor: pointer;
      top: 50%;
      background: none;
      transform: translate(0, -50%);
      margin-left: auto;
      margin-right: auto;
    }
  }
}
