.dateParts {
  position: fixed;
  float: right;
  right: 0;
  height: 100vh;
  width: 50vw;
  display: block;

  & .partsWrapper {
    background: white;
    display: flex;
    height: 100%;
    flex-flow: column nowrap;
    & header {
      display: grid;
      grid-template-rows: 25% 25% 25% 25%;
      grid-template-columns: 100%;
      grid-template-areas: "title" "input" "color" "add";
      position: relative;
      height: 25%;
      width: 100%;
      padding: 5%;
      padding-top: 2.5%;
      position: relative;
      & label {
        grid-area: title;
        display: block;
        font-size: 2.75vh;
        height: fit-content;
        font-weight: bold;
        top: 50%;
        position: relative;
        transform: translate(0, -50%);
      }
      & .colorInput {
        grid-area: color;
        display: flex;
        width: min(100%, 300px);
        margin-left: auto;
        margin-right: auto;
        position: relative;
        height: fit-content;
        top: 50%;
        transform: translate(0, -50%);
        flex-flow: row nowrap;
        justify-content: space-between;
        & button {
          border: 0;
          cursor: pointer;
          height: max(20px, 3.5vh);
          padding: 0;
          border-radius: 100%;
          width: max(20px, 3.5vh);
          &:first-child {
            background: linear-gradient(45deg, #799f0c, #ffe000);
          }
          &:nth-child(2) {
            background: linear-gradient(45deg, #155799, #159957);
          }
          &:nth-child(3) {
            background: linear-gradient(45deg, #ee0979, #ff6a00);
          }
          &:nth-child(4) {
            background: linear-gradient(45deg, #333399, #ff00cc);
          }
          &:last-child {
            background: linear-gradient(45deg, #0f2027, #2c5364);
          }
        }
      }
      & .partInput {
        display: block;
        grid-area: input;
        border: none;
        border-bottom: solid 0.2vh black;
        width: 90%;
        height: fit-content;
        font-size: max(1em, 3vw);
        position: relative;
        top: 50%;
        transform: translate(0, -50%);
        overflow: hidden;
        text-overflow: ellipsis;
        &:focus {
          outline: none;
        }
      }
      & .add {
        grid-area: add;
        height: 90%;
        top: 50%;
        transform: translate(0, -50%);
        width: 90%;
        font-weight: bold;
        border-style: none;
        transition: background-color 1s ease-out;
        margin-left: auto;
        border-radius: 1vh;
        outline: none;
        cursor: pointer;
        margin-right: auto;
        position: relative;
        text-align: center;
        align-content: center;
        font-size: 2vh;
      }
    }
    & .partsList {
      display: relative;
      height: 75%;
      width: 100%;
      padding: 5%;
      overflow-y: scroll;
      & .partsInner {
        width: 100%;
        height: auto;
      }
    }
  }
}

@media (orientation: landscape) {
  .dateParts {
    width: clamp(225px, 20vw, 350px);
    height: 100%;

    & .partsWrapper {
      grid-area: parts;
      background: white;
      display: flex;
      width: 100%;
      height: 100vh;
      flex-flow: column nowrap;
      & header {
        display: flex;
        flex-flow: column nowrap;
        align-content: left;
        position: relative;
        height: fit-content;
        padding: 5%;
        top: 2.5%;
        position: relative;
        & label {
          display: block;
          top: 0;
          transform: translate(0);
          font-size: 2.75vh;
        }
        & .colorInput {
          display: flex;
          width: clamp(200px, 80%, 300px);
          flex-flow: row nowrap;
          top: 0;
          transform: translate(0);
          padding-left: 10%;
          padding-right: 10%;
          justify-content: space-between;
          & button {
            border: 0;
            cursor: pointer;
            height: 3vh;
            padding: 0;
            border-radius: 100%;
            width: 3vh;
          }
        }
        & .partInput {
          display: block;
          border: none;
          border-bottom: solid 0.2vh black;
          width: 90%;
          margin-top: 3vh;
          font-size: 1em;
          height: fit-content;
          top: 0;
          overflow: hidden;
          text-overflow: ellipsis;
          &:focus {
            outline: none;
          }
        }
        & .add {
          margin-top: 2vh;
          height: 5vh;
          cursor: pointer;
          top: 0;
          transform: translate(0);
        }
      }
      & .partsList {
        display: relative;
        margin-top: 2vh;
        height: 100%;
        width: 100%;
        padding: 5%;
      }
    }
  }

  .parts-enter {
    transition: all 250ms ease-in-out;
    opacity: 0;
    transform: translate(100%, 0);

    &.parts-enter-active {
      transform: translate(0, 0);
      opacity: 1;
    }
  }

  .parts-exit {
    transform: translate(0, 0);
    transition: all 250ms ease-in-out;
    opacity: 1;

    &.parts-exit-active {
      transition: all 250ms ease-in-out;
      opacity: 0;

      transform: translate(100%, 0);
    }
  }
}
