.normalPiece {
  height: 10vh;
  width: 100%;
  margin-top: 1vh;
  overflow: hidden;
  border-radius: 2vh;
  border: solid 1px black;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: calc(100% / 3) calc(200% / 3);
  grid-template-areas: "image title";
  & .partTitle {
    grid-area: title;
    width: 101%;
    height: 100%;
    z-index: 2;
    float: right;
    transform: translate(-1%);
    background-color: black;
    padding-left: 5%;
    & span {
      display: block;
      position: relative;
      color: white;
      top: 50%;
      transform: translate(0, -50%);
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
