.gridWrapper {
  height: 60%;
  width: 100%;
  display: block;
  position: relative;
  overscroll-behavior-y: none;
  &::-webkit-scrollbar {
    // background: rgb(225, 225, 225);
    // width: 3.5vw;
    // border-radius: 3.5vw;
    display: none;
  }
  &::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 3.5vw;
  }
  & .instructions {
    display: block;
    height: fit-content;
    font-weight: bold;
    width: 90%;
    position: relative;
    top: 50%;
    text-align: center;
    transform: translate(0, -50%);
    margin-left: auto;
    margin-right: auto;
  }

  & .fixedDiv {
    position: absolute;
    height: 10vh;
    width: 75%;
    top: 20vh;
    float: right;
    border: solid 1px green;
    right: 0;
  }
  & .innerGrid {
    height: fit-content;
    overscroll-behavior-y: none;

    width: 100%;
    position: relative;
    grid-template-columns: 25% 75%;
    display: grid;
    overflow: hidden;
    &.stopTouch {
      touch-action: none;
      pointer-events: none;
    }
  }
}

@media (orientation: landscape) {
  .gridWrapper {
    grid-area: grid;
    position: relative;
    height: 100%;
    &::-webkit-scrollbar {
      background: rgb(225, 225, 225);
      width: 1.5vh;
      border-radius: 1.5vh;
    }
    &::-webkit-scrollbar-thumb {
      background: black;
      border-radius: 1.5vh;
    }
  }
}
