.events {
  display: grid;
  grid-template-areas: "label" "selector";
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
  height: 100%;
  width: 100%;
  grid-area: events;
  & label {
    grid-area: label;
    font-size: 2.5vh;
    font-weight: bold;
    display: block;
    height: fit-content;
    width: fit-content;
    top: 50%;
    position: relative;
    transform: translate(0, -50%);
  }
  & select {
    font-size: max(1em, 3vw);
    grid-area: selector;
    width: 100%;
    border: none;
    border-bottom: solid 0.2vh black;
    height: 7.5vw;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    &:focus {
      outline: none;
    }

    & optgroup {
      & option {
        font-size: 3.5vw;
      }
    }
  }
}

@media (orientation: landscape) {
  .events {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    width: 100%;
    & label {
      grid-area: label;
      font-size: 2vh;
      font-weight: bold;
      display: block;
      height: fit-content;
      width: fit-content;
      margin-left: 0%;
      white-space: nowrap;
      top: 50%;
      position: relative;
      transform: translate(0, -50%);
    }
    & select {
      font-size: 2vh;
      grid-area: selector;
      width: 40%;
      border: none;
      border-bottom: solid 0.2vh black;
      margin-left: 2%;
      height: 25%;
      position: relative;
      top: 50%;
      transform: translate(0, -50%);
      &:focus {
        outline: none;
      }

      & optgroup {
        & option {
          font-size: 2vh;
        }
      }
    }
  }
}
