.title {
  transition: 250ms ease-out;
  height: fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.deviceWrapper {
  height: fit-content;
  transition: 250ms ease-out;
  transition-delay: 125ms;
  width: fit-content;
  position: relative;
  margin-left: auto;
  align-content: center;
  text-align: center;
  margin-right: auto;
  & .phoneImage {
    height: 80vw;
    width: auto;
    display: block;
  }
  & .videoWrapper {
    position: absolute;
    z-index: -1;
    height: 77vw;
    left: 8.5vw;
    width: 36vw;
    border-radius: 5vw;
    overflow: hidden;
    object-fit: contain;
    & video {
      height: 100%;
      width: auto;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      top: 1.5vw;
      left: 50%;
      transform: translate(-50%);
    }
  }
  & .desktopImage {
    display: none;
  }
}

@media (orientation: landscape) {
  .title {
    font-size: clamp(20pt, 2vw, 25pt);
  }
  .deviceWrapper {
    height: clamp(127.39px, 31.85vw, 445.86px);
    width: clamp(200px, 50vw, 700px);
    overflow: hidden;
    & .phoneImage {
      display: none;
    }
    & .desktopImage {
      display: block;
      width: clamp(200px, 50vw, 700px);
      height: auto;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    & .videoWrapper {
      position: relative;
      top: 5%;
      width: 77%;
      height: 76%;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      object-fit: contain;
      border-radius: 0;
      overflow: hidden;
      background: linear-gradient(45deg, #155799, #159957);
      & video {
        height: auto;
        position: relative;
        top: -2.5%;
        width: 100%;
        display: block;
      }
    }
  }
}
