.title {
  transition: 250ms ease-out;
  height: fit-content;
  width: fit-content;
}

.deviceWrapper {
  height: fit-content;
  transition: 250ms ease-out;
  transition-delay: 125ms;
  width: fit-content;
  position: relative;
  margin-left: auto;
  align-content: center;
  text-align: center;
  margin-right: auto;
  & .phoneImage {
    height: 80vw;
    width: auto;
    display: block;
  }
  & .desktopImage {
    display: none;
  }
}

@media (orientation: landscape) {
  .title {
    font-size: clamp(20pt, 2vw, 25pt);
  }
  .deviceWrapper {
    & .phoneImage {
      display: none;
    }
    & .desktopImage {
      display: block;
      width: clamp(200px, 50vw, 700px);
      height: auto;
    }
  }
}
