.mobileMenu {
  // width: 100vw;
  width: 50vw;

  height: 100vh;
  position: fixed;
  display: flex;
  flex-flow: column nowrap;
  float: left;
  left: 0;
  background: #ffffff;
}

@media (orientation: landscape) {
  .mobileMenu {
    display: none;
  }
}
