.where {
  grid-area: where;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas: "label" "text" "radius";
  grid-template-columns: 100%;
  grid-template-rows: calc(100% / 3) calc(100% / 3) calc(100% / 3);
  & label {
    grid-area: label;
    font-size: 2.5vh;
    display: block;
    height: fit-content;
    width: fit-content;
    font-weight: bold;
    margin-left: 5%;
    top: 50%;
    position: relative;
    transform: translate(0, -50%);
  }
  & input {
    grid-area: text;
    font-size: 1em;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
    background: transparent;

    margin-left: 5%;
    position: relative;
    border-bottom: solid 0.2vh black;
    top: 50%;
    transform: translate(0, -50%);
    height: 6.5vw;
    &:focus {
      outline: none;
    }
  }
  & select {
    grid-area: radius;
    font-size: 1em;
    width: 80%;
    border: none;
    border-bottom: solid 0.2vh black;
    margin-left: 5%;
    height: 6.5vw;
    position: relative;
    background: transparent;

    top: 50%;
    transform: translate(0, -50%);
    &:focus {
      outline: none;
    }

    & optgroup {
      & option {
        font-size: 1em;
      }
    }
  }
}

@media (orientation: landscape) {
  .where {
    grid-area: where;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;

    & label {
      font-size: 2vh;
      margin-left: 10%;
      display: block;
      height: fit-content;
      width: fit-content;
      top: 50%;
      position: relative;
      transform: translate(0, -50%);
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    & input {
      font-size: 2vh;
      width: 30%;

      min-width: 20vh;
      height: 25%;
      position: relative;
      top: 50%;
      transform: translate(0, -50%);
      margin-left: 2%;
    }
    & select {
      font-size: 2vh;
      width: 25%;
      height: 25%;
      position: relative;
      min-width: 15vh;

      top: 50%;
      margin-left: 2%;

      transform: translate(0, -50%);
      & optgroup {
        font-size: 2vh;
      }
    }
  }
}
