.filterWrapper {
  height: 80%;
  width: 100px;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  background: red;
  border-radius: 10vh;
  margin-left: 5%;
  text-align: center;
  align-items: center;
}

@media (orientation: landscape) {
  .filterWrapper {
    display: none;
  }
}
