.filterWrapper {
  height: 80%;
  width: 100px;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  background: white;
  border-radius: 10vh;
  margin-left: 5%;
  text-align: center;
  align-items: center;
  border: solid 1px black;
  &.selected {
    border: none;
    color: white;
    background: #0072ff;
  }
}

@media (orientation: landscape) {
  .filterWrapper {
    display: none;
  }
}
