.filterSection {
  grid-area: filter;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  & .typeButtonsWrapper {
    height: 25%;
    width: 100%;
    position: relative;
    & .buttonWrapper {
      height: 100px;
      width: 100%;
      & svg {
        height: 100%;
        display: block;
        width: auto;
      }
    }
  }
}

@media (orientation: landscape) {
  .filterSection {
    grid-area: filter;
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    & .typeButtonsWrapper {
      height: 25%;
      width: 100%;
      position: relative;
      & .buttonWrapper {
        margin-top: 10px;
        height: 40px;
        display: flex;
        flex-flow: row nowrap;
        width: 75%;
        position: relative;
        cursor: pointer;
        margin-right: auto;
        margin-left: auto;
        border-radius: 5px;
        align-items: center;
        transition: 250ms ease-out;
        &.selected {
          transition: 250ms ease-out;
          background: linear-gradient(to left, #00c6ff, #0072ff);
          svg {
            fill: white;
          }
          span {
            color: white;
          }
        }
        & svg {
          height: 80%;
          display: block;
          width: auto;
          margin-left: 5%;
        }
        & span {
          margin-left: 5%;
          color: black;
          height: fit-content;
          font-weight: bold;
          width: fit-content;
          font-size: 1rem;
          display: block;
        }
      }
    }
  }
}
