.placePrice {
  display: flex;
  flex-flow: row nowrap;
  height: fit-content;
  width: fit-content;
  & span {
    color: #707070;
    font-size: max;
    font-weight: bold;
    height: fit-content;
    margin-right: 0.25vw;
    width: fit-content;
    font-size: (30px, 2.5vh);
  }
  & .light {
    color: white;
  }
}
