.mobileFiltersWrapper {
  background: white;
  height: 40vh;
  width: 100vw;
  position: fixed;
  border-top-left-radius: 10vw;
  border-top-right-radius: 10vw;
  bottom: 0;
  z-index: 4;
  transform: translate(0, 100%);
}

.slideUp {
  transition: 250ms ease-out;
  transform: translate(0, 0);
}

.slideDown {
  transition: 250ms ease-out;
  transform: translate(0, 100%);
}

@media (orientation: landscape) {
  .mobileFiltersWrapper {
    display: none;
  }
}
