.datePiece {
  height: 10vh;
  width: 100%;
  // margin-top: 1.5vh;
  overflow: hidden;
  // border-radius: 2vh;
  display: grid;
  border-bottom: solid 1px rgba(150, 150, 150, 0.5);
  grid-template-rows: 100%;
  grid-template-columns: calc(100% / 3) calc(200% / 3);
  grid-template-areas: "image title";
  // box-shadow: 0 0.5vh 1vh #00000080;
  transition: 250ms ease-out;
  cursor: pointer;

  &.extended {
    height: 20vh;
    transition: 250ms ease-out;
    grid-template-rows: 50% 50%;
    grid-template-areas: "image title" "details details";
  }
  & .partTitle {
    grid-area: title;
    width: 101%;
    height: 100%;
    z-index: 2;
    float: right;
    transform: translate(-1%);
    padding-left: 5%;

    & span {
      display: block;
      position: relative;
      color: black;
      top: 50%;
      font-weight: bold;
      transform: translate(0, -50%);
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: min(25px, 2vh);
    }
  }
  & .delete {
    position: absolute;
    height: min(3.5vh, 30px);
    width: min(3.5vh, 30px);
    display: block;
    top: 5px;
    right: 5px;
    background: #cccccc;
    border-radius: 4vh;
    color: white;
    border-style: none;
  }
}
