.userIcon {
  position: relative;
  display: block;
  height: 7vw;
  width: auto;
  top: 50%;
  transform: translate(0, -50%);
  stroke: black;
  margin-left: 0;
  stroke-width: 5px;
  margin-right: 7.5%;
}
