.resultsList {
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: relative;
  width: 100%;
  z-index: 0;
  padding-top: 10vh;
  padding-bottom: 10vh;
  & .reloadSection {
    width: 100%;
    height: 200px;
  }
}

@media (orientation: landscape) {
}
