.reviewWrapper {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  & .starWrapper {
    display: flex;
    flex-flow: row nowrap;
    height: fit-content;
    width: fit-content;
    position: relative;
    align-items: center;
    & svg {
      height: 2vh;
      width: auto;
      margin-right: 1vw;
      &.fullStar {
        fill: white;
      }
      &.emptyStar {
        fill: #707070;
      }
      &.halfStar {
        & .blankHalf {
          fill: #707070;
        }
        & .fullHalf {
          fill: white;
        }
      }
    }
  }
  & span {
    font-size: min(25px, 2vh);
    color: white;
    height: fit-content;
    width: fit-content;
    display: block;
    margin-left: 1vw;
  }
}

@media (orientation: landscape) {
  .reviewWrapper {
    grid-area: reviews;
    & .starWrapper {
      & svg {
        height: 2vh;
        width: auto;
        margin-right: 1vw;
        stroke: black;
        &.fullStar {
          fill: black;
        }
        &.emptyStar {
          fill: white;
        }
        &.halfStar {
          & .blankHalf {
            fill: white;
          }
          & .fullHalf {
            fill: black;
          }
        }
      }
    }
    & span {
      color: black;
    }
  }
}
