.title {
  transition: 250ms ease-out;
  height: fit-content;
  width: fit-content;
}

.exampleImageWrapper {
  display: block;
  position: relative;
  transition: 250ms ease-out;
  height: fit-content;
  align-items: center;
  width: fit-content;
  object-fit: contain;
  overflow: hidden;
  border-radius: 5vw;
  text-align: center;
  filter: drop-shadow(0vh 2vh 1.5vh rgba(75, 75, 75, 0.75));
  margin-left: auto;
  margin-right: auto;
  & .mobileExample {
    display: block;
    position: relative;
    width: 75vw;
    height: auto;
  }
  & .desktopExample {
    display: none;
  }
}

@media (orientation: landscape) {
  .exampleImageWrapper {
    border-radius: clamp(20px, 1.5vw, 30px);
    filter: drop-shadow(0vh 2vh 1.5vh rgba(75, 75, 75, 0.75));

    & .mobileExample {
      display: none;
    }
    & .desktopExample {
      display: block;
      width: clamp(715px, 50vw, 1050px);
      height: auto;
    }
  }
}
