.iconWrapper {
  align-content: center;
  height: min(9vw, 6vh);
  display: block;
  width: min(9vw, 6vh);

  position: relative;
  z-index: 2;
  cursor: pointer;
  margin-right: 5%;
  top: 50%;
  transform: translate(0, -50%);
  & .pulser {
    position: absolute;
    z-index: 0;
    height: min(7vw, 4vh);
    width: min(7vw, 4vh);
    border-radius: min(7vw, 4vh);
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    top: 50%;
    height: 110%;
    display: none;
    background: linear-gradient(to right, #ee0979, #ff6a00);
    width: 110%;
    &.pulse {
      animation-name: pulse;
      animation-duration: 500ms;
      display: block;
    }
  }
  & svg {
    position: relative;
    display: block;
    height: 100%;
    width: auto;
  }
}

.st0 {
  stroke: #000000;
  stroke-miterlimit: 10;
}
.st1 {
  fill: #ffffff;
  transition: 250ms ease-in-out;
}

.st2 {
  fill: black;
  transition: 250ms ease-in-out;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
    transform: translate(-50%, -50%) scale(1);
  }
  70% {
    transform: translate(-50%, -50%) scale(1.8);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2);
  }
}
// @media (orientation: landscape) {
//   .partsIcon {
//     display: none;
//   }
// }
