.imgBackground {
  height: 100%;
  width: 105%;
  object-fit: contain;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 50%;
  transition: opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: translate(-50%);
  &.extended {
    height: 50%;
  }

  & img {
    position: relative;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    // &.byWidth {
    //   width: 100%;
    //   height: auto;
    // }
    // &.byHeight {
    //   width: auto;
    //   height: 100%;
    // }
  }
}
