.dragWrapper {
  border: solid 1px red;
  border-radius: 1vh;
  float: right;
  width: 100%;
  bottom: 0;
  & .imageBackground {
    position: relative;
    height: 100%;
    width: 100%;
    & .addPart {
      width: fit-content;
      height: fit-content;
      display: block;
      position: relative;
      top: 50%;
      transform: translate(0, -50%);
      margin-left: auto;
      margin-right: auto;
      font-size: 3vh;
      font-weight: bold;
      white-space: nowrap;
    }
  }
  & .removePart {
    top: 2vh;
    position: absolute;
    float: right;
    right: 2vh;
    height: 4vh;
    border-style: none;
    font-size: 1.5vh;
    text-align: center;
    align-items: center;
    vertical-align: center;
    width: 4vh;
    z-index: 1;
    border-radius: 4vh;
    background: red;
    color: white;
  }

  & .extendHandle {
    position: absolute;
    border-radius: 3vh;
    width: 3vh;
    height: 3vh;
    border: 1px red solid;
    background: white;
    z-index: 2;
    display: block;
    border-style: solid;
    z-index: 2;
    &:first-child {
      float: left;
      left: 5%;

      top: -1.5vh;
    }
    &:last-child {
      float: right;
      right: 5%;
      bottom: -1.5vh;
    }
  }
}
