.dragWrapper {
  float: right;
  border-radius: 1vh;
  border: none;
  width: 100%;
  bottom: 0;
  & .imageBackground {
    position: relative;
    height: 100%;
    overflow: hidden;
    border-radius: 1vh;
    background: linear-gradient(45deg, #0f2027, #2c5364);
    object-fit: contain;
    width: 100%;
    & img {
      position: relative;
      display: block;
      transition: opacity 500ms ease-out;
      top: 50%;
      touch-action: none;
      pointer-events: none;
      left: 50%;
      filter: blur(0.25vh);
      transform: translate(-50%, -50%);
      width: auto;
      height: 125%;
    }
  }
  & .removePart {
    top: 1vh;
    position: absolute;
    float: right;
    right: 1vh;
    height: 4vh;
    border-style: none;
    font-size: 1.5vh;
    text-align: center;
    align-items: center;
    vertical-align: center;
    width: 4vh;
    z-index: 1;
    border-radius: 4vh;
    box-shadow: 0 1vh 2vh #00000080;
    background: linear-gradient(0.25turn, #f24236, #ad160b);
    color: white;
  }

  & .title {
    width: 90%;
    height: fit-content;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    width: 100%;
    transform: translate(-50%, -50%);
    font-size: 3vh;
    font-weight: bold;
    white-space: nowrap;
  }

  & .extendHandle {
    position: absolute;
    border-radius: 3vh;
    width: 3vh;
    height: 3vh;
    color: white;

    background: linear-gradient(45deg, #11998e, #38ef7d);
    text-align: center;
    display: block;

    border-style: none;
    z-index: 3;
    &:first-child {
      float: left;
      left: 5%;
      top: -1.5vh;
    }
    &:last-child {
      float: right;
      right: 5%;
      bottom: -1.5vh;
    }
  }
}
