.homePage {
  top: 10vh;
  height: 90vh;
  position: relative;
  width: 100vw;
  overflow-x: hidden;
  padding-left: 5%;
  padding-right: 5%;

  & .introduction {
    position: relative;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-flow: nowrap column;
    & h1 {
      white-space: wrap;
      font-size: clamp(16pt, 7vw, 4vh);
      width: 100%;
      position: relative;
      text-align: center;
      margin-right: auto;
      margin-top: 10vh;
      margin-left: auto;
      height: fit-content;
    }
    & .imagesWrapper {
      margin-top: 5vh;
      display: flex;
      flex-flow: row nowrap;
      position: relative;
      width: 100%;
      justify-content: center;
      & .laptopWrapper {
        height: 40vw;
        overflow: hidden;
        width: 63vw;
        position: relative;

        & .videoWrapper {
          z-index: -1;
          position: absolute;
          height: 30vw;
          width: 50vw;
          top: 2vw;
          left: 7vw;
          background: transparent;
          object-fit: contain;
          overflow: hidden;
          background: linear-gradient(45deg, #155799, #159957);
          & video {
            height: auto;
            width: 100%;
            display: block;
            top: -0.75vw;
            left: 50%;
            transform: translate(-50%);
            position: relative;
          }
        }

        & img {
          height: 40vw;
          width: auto;
        }
      }
      & .phoneWrapper {
        height: 40vw;
        width: 26.42vw;
        overflow: hidden;
        position: relative;
        & .videoWrapper {
          z-index: -1;
          position: absolute;
          height: 38vw;
          width: 19vw;
          left: 4vw;
          object-fit: contain;
          overflow: hidden;
          border-radius: 4vw;
          & video {
            display: block;
            transform: translate(-50%);
            left: 50%;
            position: relative;
            height: 100%;
          }
        }
        & img {
          height: 40vw;
          width: auto;
        }
      }
    }
    & .scrollIndicator {
      display: flex;
      flex-flow: column nowrap;
      text-align: center;
      align-content: center;
      align-items: center;
      transition: opacity 300ms ease-out;
      margin-top: 15vh;
      & .arrow {
        margin-top: 1vh;
        height: 2.5vh;
        width: auto;
        fill: rgb(150, 150, 150);
        animation-name: fadeIn;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        &:nth-child(2) {
          animation-delay: 0.5s;
        }
        &:nth-child(3) {
          animation-delay: 1s;
        }
      }
    }
  }
  & .featureSection {
    position: relative;
    width: 100%;
    display: block;
    flex-flow: column nowrap;
    &:nth-child(2) {
      height: 45vw;
    }
    &:nth-child(3) {
      height: 100vw;
    }
    &:nth-child(4) {
      height: 100vw;
    }
  }
}

.homePage::-webkit-scrollbar {
  display: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (orientation: landscape) {
  .homePage {
    width: clamp(750px, 90vw, 1400px);
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    & .introduction {
      & h1 {
        font-size: 25pt;
      }
      & .imagesWrapper {
        margin-top: 0;
        & .laptopWrapper {
          height: clamp(300px, 25vw, 450px);
          width: clamp(471px, 39.25vw, 706.5px);
          position: relative;
          overflow: hidden;
          & .videoWrapper {
            position: relative;
            top: 5%;
            width: 77%;
            height: 76%;
            left: 0;
            margin-left: auto;
            margin-right: auto;
            & video {
              height: auto;
              width: 100%;
              top: -2.5%;
              display: block;
              left: 50%;
              transform: translate(-50%);
              position: relative;
            }
          }
          & img {
            height: clamp(300px, 25vw, 450px);
            width: auto;
            position: absolute;
            display: block;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
        & .phoneWrapper {
          height: fit-content;
          width: fit-content;
          & img {
            height: clamp(300px, 25vw, 450px);
            width: auto;
            display: block;
          }
        }
      }
      & .scrollIndicator {
        display: flex;
        flex-flow: column nowrap;
        text-align: center;
        align-content: center;
        margin-top: 2vh;
        align-items: center;
        transition: opacity 300ms ease-out;

        & .arrow {
          margin-top: 1vh;
          height: 1.5vh;
          width: auto;
          fill: rgb(150, 150, 150);
          animation-name: fadeIn;
          animation-duration: 2s;
          animation-iteration-count: infinite;
        }
      }
    }
    & .featureSection {
      position: relative;
      width: 100%;
      display: block;
      flex-flow: column nowrap;
      margin-top: 20vh;
      &:nth-child(2) {
        height: clamp(350px, 20vw, 500px);
      }
      &:nth-child(3) {
        height: clamp(500px, 30vw, 625px);
      }
      &:nth-child(4) {
        height: clamp(400px, 50vw, 600px);
      }
    }
  }
}
