.homePage {
  top: 10vh;
  height: 90vh;
  position: relative;
  width: 100vw;
  overflow-x: hidden;
  padding-left: 5%;
  padding-right: 5%;
  & .introduction {
    position: relative;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-flow: nowrap column;
    & h1 {
      white-space: wrap;
      font-size: clamp(17pt, 7vw, 4vh);
      width: 100%;
      position: relative;
      text-align: center;
      margin-right: auto;
      margin-top: 10vh;
      margin-left: auto;
      height: fit-content;
    }
    & .imagesWrapper {
      margin-top: 5vh;
      display: flex;
      flex-flow: row nowrap;
      position: relative;
      width: 100%;
      justify-content: center;
      & img {
        &:first-child {
          height: 40vw;
          width: auto;
        }
        &:last-child {
          height: 40vw;
          width: auto;
        }
      }
    }
    & .scrollIndicator {
      display: flex;
      flex-flow: column nowrap;
      text-align: center;
      align-content: center;
      align-items: center;
      transition: opacity 300ms ease-out;
      & h2 {
        font-weight: normal;
        width: fit-content;
        height: fit-content;
        font-size: 3.5vh;
        position: relative;
        color: rgb(150, 150, 150);
      }
      & .arrow {
        margin-top: 1vh;
        height: 2.5vh;
        width: auto;
        fill: rgb(150, 150, 150);

        &:first-child {
          animation-name: fadeIn;
          animation-duration: 3s;
          animation-iteration-count: infinite;
        }
        &:nth-child(2) {
          animation-name: fadeIn;
          animation-duration: 3s;
          animation-delay: 0.75s;
          animation-iteration-count: infinite;
        }
        &:last-child {
          animation-name: fadeIn;
          animation-duration: 3s;
          animation-delay: 1.5s;
          animation-iteration-count: infinite;
        }
      }
    }
  }
  & .featureSection {
    height: 30vh;
    position: relative;
    width: 100vw;
    &:first-child {
      margin-top: 10vh;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
