.queriedPage {
  height: 90vh;
  width: 100vw;
  top: 10vh;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
  padding-right: 5%;
  z-index: 0;
  flex-flow: column nowrap;
  // box-shadow: 0 0.25vh 4vh #00000015;
  & .queryDisplay {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;

    box-shadow: 0 0.25vh 4vh #00000015;
  }

  & .header {
    z-index: 3;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    height: 20vh;
    flex-flow: row nowrap;
    position: fixed;
    background: linear-gradient(to bottom, transparent, white);
    left: 0;
    bottom: -0.5%;
    justify-content: space-between;
    & button {
      font-size: max(1.5vh, 12px);
      cursor: pointer;
      position: relative;
      // height: max(0px, 4vh);
      // border-radius: max(40px, 4vh);
      height: max(45px, 4.5vh);
      border-radius: max(45px, 4.5vh);
      width: 80px;
      // box-shadow: 0 1vh 1vh #00000080;
      border-style: none;
      padding-left: 1vw;
      padding-right: 1vw;
    }
    & .typeButton {
      margin-left: 1vw;
      border-style: none;
      color: white;
      outline: none;
      font-weight: bold;
      &:first-child {
        margin-left: 0;
        background: linear-gradient(to right, #67b26f, #4ca2cd);
      }
      &:nth-child(2) {
        background: linear-gradient(to right, #ff512f, #f09819);
      }
    }
    & .sort {
      position: absolute;
      right: 5%;
      margin-left: auto;
    }
  }

  & .sliderWrapper {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    position: relative;
    & .resultsSlider {
      height: auto;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      position: relative;
      width: 100%;
      z-index: 0;
      padding-top: 10vh;
      padding-bottom: 10vh;
    }
  }
}

@media (orientation: landscape) {
  .queriedPage {
    // width: max(min(90vw, 1400px), 750px);
    width: min(100vw, 1920px);
    grid-template-rows: 10% auto;
    display: grid;
    padding: 0;
    grid-template-areas: "filter results";
    grid-template-columns: clamp(225px, 20vw, 350px) auto;
    grid-template-rows: 100%;
    & .sliderWrapper {
      grid-area: results;
    }
  }
}
