.queriedPage {
  height: 70vh;
  width: 90vw;
  top: 15vh;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-rows: 15% auto 15%;
  grid-template-areas: "query" "results" "header";
  flex-flow: column nowrap;
  box-shadow: 0 0.25vh 4vh #00000015;
  & .queryDisplay {
    grid-area: query;
    box-shadow: 0 0.25vh 4vh #00000015;
  }

  & .header {
    grid-area: header;
    box-shadow: 0 0.25vh 4vh #00000015;
    display: flex;
    flex-flow: row nowrap;
    & button {
      font-size: max(1.5vh, 12px);
      cursor: pointer;
      position: relative;
      top: 50%;
      transform: translate(0, -50%);
      height: max(50px, 5vh);
      border-radius: max(50px, 5vh);
      width: 80px;
    }
    & .typeButton {
      margin-left: 1vw;
      border-style: solid;
    }
    & .sort {
      margin-left: auto;
      margin-right: 1vw;
    }
  }
  & .results {
    height: auto;
    grid-area: results;
    overflow-x: scroll;
    scroll-behavior: smooth;
    & .resultsSlider {
      height: auto;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
    }
  }
}

@media (orientation: landscape) {
  .queriedPage {
    width: max(min(90vw, 1400px), 750px);
    grid-template-rows: 10% auto;
  }
}
