.main {
  width: 100vw;
  position: relative;
  top: 10vh;

  // left: 50%;
  // transform: translate(-50%);
  height: 90vh;
  display: flex;
  flex-flow: column nowrap;

  flex-flow: column nowrap;
  & header {
    display: block;
    position: relative;
    width: 100%;
    height: 18vh;
    background: red;
    display: flex;
    grid-area: header;
    flex-flow: column nowrap;
    & .datesSelector {
      height: 50%;
      width: 100%;
    }
    & .times {
      height: 50%;
      width: 100%;
    }
  }
}

@media (orientation: landscape) {
  .main {
    display: grid;

    width: max(min(90vw, 1400px), 750px);
    grid-gap: 2.5%;
    grid-template-areas: "parts grid";
    grid-template-columns: 20% 55% 20%;
    grid-template-rows: 100%;
  }
}
