.main {
  width: 90vw;
  position: relative;
  top: 11vh;
  margin-left: auto;
  margin-right: auto;
  // left: 50%;
  // transform: translate(-50%);
  height: 89vh;
  display: flex;
  flex-flow: column nowrap;
  & .grid {
    margin-top: 5%;
    box-shadow: 0 0.25vh 4vh #00000015;
    height: 40vh;
  }
  & .partsBar {
    display: none;
  }
  & .mobileBar {
    height: 32vh;
    background: lightblue;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    & .emptySpace {
      height: 75%;
      width: 100%;
    }
    & .barSelector {
      height: 25%;
      width: 100%;
    }
  }
  & .scheduledBar {
    display: none;
  }
}

@media (orientation: landscape) {
  .main {
    display: grid;
    width: max(min(90vw, 1400px), 750px);
    grid-template-areas: "parts grid scheduled";
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 100%;
    grid-gap: 2.5%;
    & .mobileBar {
      display: none;
    }
    & .grid {
      position: relative;
      height: 90%;
      width: 100%;
      top: 50%;
      transform: translate(0, -50%);
      grid-area: grid;
      margin-top: 0;
    }
    & .partsBar {
      grid-area: parts;
      display: block;
      width: 100%;
      position: relative;
      top: 50%;
      transform: translate(0, -50%);
      height: 90%;
      box-shadow: 0 0.25vh 4vh #00000015;
    }
    & .scheduledBar {
      display: block;
      width: 100%;
      top: 50%;
      position: relative;
      transform: translate(0, -50%);
      height: 90%;
      background: blue;
    }
  }
}
