.main {
  width: 100vw;
  position: relative;
  top: 10vh;
  overflow-y: hidden;

  height: 90vh;
  display: flex;
  flex-flow: column nowrap;

  flex-flow: column nowrap;
  & header {
    position: relative;
    width: 100%;
    box-shadow: 0 0vh 1vh #646464;
    display: block;
    height: 18vh;
    display: flex;
    grid-area: header;
    flex-flow: column nowrap;

    & .datesSelector {
      height: 50%;
      color: gray;
      text-align: center;
      align-content: center;
      width: 100%;
      vertical-align: center;
    }
    & .times {
      height: 50%;
      width: 100%;
      padding-right: 5%;
      padding-left: 5%;
      display: grid;
      grid-template-rows: 50% 50%;
      grid-template-columns: 75% 25%;
      grid-template-areas: "start save" "end save";
      & span {
        height: fit-content;
        width: fit-content;
        font-weight: bold;
        position: relative;
        top: 50%;
        font-size: 2vh;
        margin-right: auto;
        margin-left: auto;
        transform: translate(0, -50%);
      }
      & .startTime {
        grid-area: start;
      }
      & .endTime {
        grid-area: end;
      }
      & .save {
        top: 50%;
        grid-area: save;
        transform: translate(0, -50%);
        float: right;
        white-space: nowrap;
        height: fit-content;
        font-size: clamp(10pt, 2.5vh, 2.5vh);
        border-radius: 3vh;
        width: fit-content;
        background: linear-gradient(45deg, #155799, #159957);
        background-clip: text;
        font-weight: 600;
        -webkit-text-fill-color: transparent;
        padding-left: 3vw;
        margin-left: auto;
        position: relative;
        border: solid 1px #155799;
        display: block;
        padding-right: 3vw;
        outline: none;
      }
    }
  }
  & .partsList {
    height: 7vh;
    border-radius: 7vh;
    width: 7vh;
    position: absolute;
    bottom: 20%;
    padding: 1vh;
    display: block;
    background: white;
    box-shadow: 0 0.5vh 1vh #646464;
    float: right;
    right: 5%;
    z-index: 2;

    & svg {
      height: 5vh;
      transition: 250ms ease-out;
      vertical-align: middle;
      display: inline-block;
      position: relative;
      transform-origin: center;
      width: auto;
    }
  }
}

@media (orientation: landscape) {
  .main {
    display: grid;
    flex-flow: row nowrap;

    width: clamp(750px, 90vw, 1400px);

    grid-template-areas: "parts header" "parts grid";
    grid-template-columns: 20% 80%;

    position: relative;
    margin-left: auto;
    margin-right: auto;
    grid-template-rows: 20% 80%;
    & header {
      grid-area: header;
      box-shadow: none;
      height: 100%;
    }
  }
}
