.itemsSection {
  height: 75%;
  width: 100%;
  position: absolute;
  left: 50%;
  /* border: solid 1px black; */
  z-index: 2;
  pointer-events: none;
  top: 0;
  transform: translate(-50%);
  & .itemsFlex {
    display: flex;
    width: fit-content;
    height: 100%;
    transition: 250ms ease-out;
    flex-flow: row nowrap;
    & .item {
      border-radius: 2vh;
      position: relative;
      object-fit: contain;
      height: 100%;
      width: 20vh;
      filter: drop-shadow(0 1.5vh 1vh gray);
      overflow: hidden;
      object-fit: contain;
      & img {
        height: auto;
        width: 150%;
        display: block;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
        position: relative;
      }
    }
  }
}
