.eventPrice {
  display: flex;
  height: fit-content;
  flex-flow: row nowrap;
  & span {
    color: white;
    font-size: min(25px, 2vh);
    width: fit-content;
    white-space: nowrap;

    height: fit-content;
  }
  & .genre {
    margin-left: 1vw;
  }
}

@media (orientation: landscape) {
  .eventPrice {
    grid-area: eventPriceGenre;
    & span {
      color: black;
    }
  }
}
