.resultCard {
  height: 23vh;
  background: white;
  width: min(min(90%, 500px), 350px);
  margin-top: 1vh;
  display: flex;
  flex-flow: column nowrap;
  border: solid 1px black;
  padding: 5%;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  & button {
    outline: none;
  }
  & .title {
    position: relative;
    height: fit-content;
    width: 100%;
    width: fit-content;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: min(30px, 2.5vh);
  }
  & .addButton {
    position: absolute;
    float: right;
    right: 5%;
    height: 5vh;
    border-radius: 5vh;
    border-style: solid;
    font-size: min(22.5px, 2vh);
    padding-left: 5%;
    white-space: nowrap;
    padding-right: 5%;
    width: fit-content;
  }
}

@media (orientation: portrait) and (min-width: 541px) {
  .resultCard {
    width: 500px;
  }
}

@media (orientation: landscape) {
}
