.resultCard {
  height: 25vh;
  background: black;
  width: min(min(100%, 500px), 350px);
  margin-top: 2vh;
  border-radius: 3vh;
  padding: 5%;
  position: relative;
  margin-right: auto;
  overflow: hidden;
  transition: 250ms ease-out;
  margin-left: auto;
  box-shadow: 0 0.5vh 1vh rgb(100, 100, 100);

  &.extended {
    height: 50vh;
  }
  &.loaded {
    opacity: 1;
  }
  &.loading {
    opacity: 0;
  }

  & .infoBar {
    display: flex;
    flex-flow: column nowrap;
    background: linear-gradient(transparent, #000000);
    transform: translate(-50%);
    left: 50%;
    position: absolute;
    padding-left: 5%;
    padding-right: 5%;
    z-index: 2;
    bottom: 0;
    width: 100%;
    height: 60%;
    padding-top: 5%;
    &.extended {
      height: 25%;
      padding-top: 5%;
      bottom: 25%;
    }
    & .title {
      position: relative;
      height: fit-content;
      width: 100%;
      font-weight: bold;
      overflow: hidden;
      white-space: nowrap;
      color: white;
      text-overflow: ellipsis;
      font-size: min(30px, 2.5vh);
    }
    & .landscapeDetails {
      display: none;
    }

    & .loadingBar {
      width: 75%;
      height: min(25px, 2vh);
      position: relative;
      display: block;
      background: linear-gradient(to right, white, #e0e0e0);
      animation: loading 1s infinite;
      margin-top: 1vh;
      background-size: 200%;

      &:first-child {
        width: 60%;
        margin-top: 0;
        // background-size: 180%;
        height: min(30px, 2.5vh);
      }
    }
  }
  & .detailsWrapper {
    height: 25%;
    width: 100%;
    position: absolute;
    left: 50%;
    overflow: hidden;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-flow: column nowrap;
    transform: translate(-50%);
    bottom: 0;
  }

  & button {
    outline: none;
  }

  & .addButton {
    position: absolute;
    float: right;
    transition: 250ms ease-out width;
    box-shadow: 0 2vh 2vh #00000080;
    right: 5%;
    height: 5vh;
    border-radius: 5vh;
    color: white;
    border-style: none;
    font-size: min(22.5px, 2vh);
    padding-left: 2vh;
    padding-right: 2vh;
    white-space: nowrap;
    font-weight: bold;
    background: linear-gradient(0.25turn, #49a078, #216869);
    box-shadow: 0 1vh 2vh #00000080;
    width: fit-content;
    &.remove {
      background: linear-gradient(0.25turn, #f24236, #ad160b);
    }
    &.loadingAdd {
      background: linear-gradient(to right, white, #e0e0e0);
      animation: loading 1s infinite;
      background-size: 200%;
      width: 40%;
    }
  }
}

@media (orientation: portrait) and (min-width: 541px) {
  .resultCard {
    width: 500px;
    & .title {
      width: 100%;
    }
  }
}

@media (orientation: landscape) {
  .resultCard {
    width: clamp(500px, 45vw, 1000px);
    background: none;
    display: grid;
    grid-template-areas: "image info";
    flex-flow: row nowrap;
    grid-template-columns: clamp(175px, 40%, 250px) auto;
    grid-template-rows: 100%;
    padding: 0;
    & .infoBar {
      pointer-events: none;
      display: grid;
      height: 100%;
      grid-template-columns: 100%;
      grid-area: info;
      width: auto;
      position: relative;
      background: none;
      & .title {
        width: 60%;
        white-space: pre;
        color: black;
        font-size: 12pt;
      }
      & .landscapeDetails {
        display: block;
        grid-area: moreDetails;
      }
    }
    & .addButton {
      right: 20px;
      height: 5vh;
      cursor: pointer;
      top: 20px;
      height: 4vh;
      border-radius: 5vh;
      font-size: 1.5vh;

      &.loadingAdd {
        width: 20%;
      }
    }
  }
}
//event
// #ee0979
// #ff6a00

//place
// #159957
//#155799
@keyframes loading {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: -200% 0%;
  }
}
